{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="navbar">
    <img src="{{ asset('images/logo.webp') }}">
    </div>
    <div class="container_form_position">
        <div class="container_form_login">
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <label for="inputUsername">Identifiant</label>
            <input type="text" value="{{ last_username }}" name="pseudo" id="inputUsername" class="form-control" autocomplete="pseudo" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="motPasse" id="inputPassword" class="form-control" autocomplete="motPasse-actuel" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <div class="form_end_login">
                <button class="btn_connexion_submit" type="submit">
                Connexion
                </button>
                <label>
                <input type="checkbox" name="_remember_me" checked>
                Ce souvenir de moi
                </label>
                <a href="">Mot de passe oublié</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
