{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-end m-3">
        <p class="font-weight-bold"><strong>Date du jour : {{ "now" | date('d/m/y') }}</strong></p>
        <p class="font-weight-bold"><strong>Bienvenue {{ app.user.pseudo }} !</strong></p>
    </div>
    <div class="card shadow-sm m-3">
        <div class="card-body">
            <h3 class="card-title">Filtrer les sorties</h3>
            <div class="d-flex flex-row justify-content-evenly m-2">
                <div class="p-2">
                    {{ form_start(rechercheForm) }}
                    <div class="mb-3">{{ form_row(rechercheForm.campus) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.nomRecherche) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.borneDateInf) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.borneDateSup) }}</div>
                </div>
                <div class="p-2">
                    <div class="mb-3">{{ form_row(rechercheForm.organisateur) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.inscrit) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.nonInscrit) }}</div>
                    <div class="mb-3">{{ form_row(rechercheForm.sortiesPassees) }}</div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
                </div>
                {{ form_end(rechercheForm) }}
            </div>

        </div>
    </div>
    <table class="table table-striped table-bordered rounded-2 shadow m-3" style="width: 98%;">
        <thead class="table-secondary">
        <tr>
            <th scope="col">Nom de la sortie </th>
            <th scope="col">Date de la sortie </th>
            <th scope="col">Clotûre </th>
            <th scope="col">Inscrit.e.s/Places</th>
            <th scope="col">État </th>
            <th scope="col">Inscrit.e : </th>
            <th scope="col">Organisateur.ice : </th>
            <th scope="col">Actions :</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for sortie in sorties %}
            {% if not (sortie.etat.libelle == 'Créée' and sortie.organisateur != app.user) %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td class="text-center">{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                    <td class="text-center">{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                    <td class="text-center">{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td class="text-center">{{ sortie.etat.libelle }}</td>
                    <td class="text-center">{{ sortie.participants.contains(app.user) ? 'X' : '' }}</td>
                    <td><a href="{{ path('profil_details', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a></td>
                    <td>
                        {% if sortie.organisateur == app.user%}
                            {% if sortie.etat.libelle == 'Créée' %}
                                <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}">Modifier</a>
                                <a href="{{ path('sortie_publier', {'id':sortie.id}) }}">Publier</a>
                            {% elseif sortie.etat.libelle in ['Ouverte', 'Clôturée'] %}
                                <a href="{{ path('sortie_details' , {'id':sortie.id}) }}">Afficher</a>
                                <a href="{{ path('sortie_annuler', {'id':sortie.id}) }}">Annuler</a>
                            {% else %}
                                <a href="{{ path('sortie_details' , {'id':sortie.id}) }}">Afficher</a>
                            {% endif %}
                        {% else %}
                            {% if sortie.etat.libelle in ['Ouverte','Activité en cours','Passée', 'Clôturée'] %}
                                <a href="{{ path('sortie_details' , {'id':sortie.id}) }}">Afficher</a>
                                {% if sortie.etat.libelle in ['Ouverte', 'Clôturée'] and sortie.participants.contains(app.user) %}
                                    <a href="{{ path('sortie_desistement', {'id':sortie.id}) }}" title="Se désister">Se désister</a>
                                {% elseif sortie.etat.libelle == 'Ouverte' and sortie.participants.count<sortie.nbInscriptionsMax %}
                                    <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" title="S'inscrire">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('sortie_creation') }}" class="btn btn-primary btn-lg" style="margin-left:1%">Créer une sortie</a>
{% endblock %}
