{% extends 'base.html.twig' %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {{ form_start(creationForm)}}
        {{ form_widget(creationForm) }}
        <button type="submit" class="btn btn-primary btn-sm "style="margin-left: 35%;" >Enregistrer</button>
        <button type="submit" class="btn btn-primary btn-sm ">Publier</button>
        <a href="{{ path('main_accueil') }}" class="btn btn-primary ">Annuler</a>
        {{ form_end(creationForm)}}
    </div>
{% endblock %}

{% block title %}
    Create une nouvelle sortie
{% endblock %}