{% extends 'base.html.twig' %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container text-center m-5 p-4">
        <h2 class="Title_Profil">Créer une sortie</h2>
        {{ form_start(creationForm) }}
        {{ form_row(creationForm.nom) }}
        {{ form_row(creationForm.dateHeureDebut) }}
        {{ form_row(creationForm.dateLimiteInscription) }}
        {{ form_row(creationForm.nbInscriptionsMax) }}
        {{ form_row(creationForm.duree) }}
        {{ form_row(creationForm.infosSortie) }}
        {{ form_row(creationForm.siteOrganisateur) }}
        {{ form_row(creationForm.ville) }}
        {{ form_row(creationForm.lieu) }}
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">{{ form_row(creationForm.save) }}</div>
            <div class="p-2">{{ form_row(creationForm.saveAndAdd) }}</div>
            <div class="p-2"><a href="{{ path('main_accueil') }}" class="btn btn-primary">Annuler</a></div>
            {{ form_end(creationForm) }}

        </div>
    </div>
    <script>
        /**
         *  Récupération dynamique des lieux en fonction du choix de la ville.
         */

        const form_select_ville = document.getElementById('creation_sortie_ville');
        const form_select_lieu = document.getElementById('creation_sortie_lieu');

        //Fonction à appeler lorsque l'utilisateur.ice sélectionne une ville:
        const changeOptions = async (e) => {
            form_select_lieu.innerHTML='<option value="">--Sélectionnez un lieu--</option>';
            if(e.target.value)
            {
                const id = e.target.value;
                const url= window.location.href + `/ville/${id}`
                const response = await fetch (url);
                const lieux = await response.json();
                //Ajout des options pour la balise select du champ lieu.
                lieux.forEach((lieu) => form_select_lieu.innerHTML += `<option value="${lieu.idLieu}">${lieu.nom}</option>`);
                form_select_lieu.disabled = false;
            }
            else
            {
                form_select_lieu.disabled = true;
            }

        };

        //Ajout d'un listerner sur la baLise select du champ ville appelant la méthode changeOptions
        form_select_ville.addEventListener('change', (e) => changeOptions(e));

    </script>
{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}

