{% extends 'base.html.twig' %}
{% block title %}Sortie !{% endblock %}

{% block body %}
    <h2 class="Title_Profil">{{ modifierForm.nom.vars.value }}</h2>
    {{ form_start(modifierForm) }}
    {{ form_widget(modifierForm) }}
    <a href="{{ path('sortie_supprimer', {'id':  modifierForm.vars.data.id}) }}" class="btn btn-primary">Supprimer</a>
    <a href="{{ path('main_accueil') }}" id="btn-title-profil" type="button" class="btn btn-primary">Annuler</a>
    {{ form_end(modifierForm) }}
{% endblock %}